{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 54, "knowledge_revision": 142, "git_revision": "abafdf893c2577e7718ad108a0db968ab28b32a4", "hash": "76e8553854251145d3271312fa916748", "format-version": 4, "code-base-name": "default", "filename": "jobtrack_ai_backend_workspace/jobtrack_ai_backend/requirements.txt", "revision_history": [{"142": "abafdf893c2577e7718ad108a0db968ab28b32a4"}]}