{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 44, "knowledge_revision": 95, "git_revision": "abafdf893c2577e7718ad108a0db968ab28b32a4", "hash": "2ea0248325a8223a6ba654d853bc469a", "format-version": 4, "code-base-name": "default", "filename": "jobtrack_ai_backend_workspace/jobtrack_ai_backend/requirements.txt", "revision_history": [{"95": "abafdf893c2577e7718ad108a0db968ab28b32a4"}]}